@charset"UTF-8";
 /* CSS Document */

body {
    background-color: #c2c5d6;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
.city-header {
     width: 960px;
    float: right;
    margin-left: 18em;
    margin-bottom: -0.2em;
}

.banner {
    width: 960px;
     float: right;
     margin-left: 18em;
     margin-bottom: -0.2em;
}

.container {
    width: 960px;
    margin-left: 18em;
    background-color: #ffffff;
    margin-top: 3em;   
}

.nav {
       width: 960px;
    	text-align: center;
 }

 .nav ul li {
     display: inline;
 }

 .nav a {
      color: #602E8B;
      text-decoration: none;
      padding: 25px;
 }

 .nav a:hover {
      text-decoration: underline;
 }
.info {
    margin-left: 50px;
    margin-bottom: 30px;    
}

h1 {
    font-family: Helvetica, Arial, sans-serif;
    color:#602E8B;
    font-size: 2em;
    margin-top: 30px;
    margin-left: 50px;
}

h2 {
    font-family: Helvetica, Arial, sans-serif;
    color:#959bd1;
    margin-left: 5em;
}

.info h4 {
  font-family: Helvetica, Arial, sans-serif;
   font-size: 12px;
   margin-bottom: -0.1em; 
    
}

.info p {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 0.8em;
}

textarea {
    margin-top: -1em;
}

footer {
    width: 956px;
    height: 40px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    text-align: left;
    background-color: #602e8b;
    color: #ffffff;
    padding-left: 5px; 
}